
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.game-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(graph.jpg);
  background-size: 256px 256px;
  background-repeat: repeat;  
}

.start-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, .7);
  z-index: 100;
  display: block;
}

.rounded-corners-15 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.info-box-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 18em;
  min-height: 16em;
  padding: 2em;
  margin: -12em 0 0 -9em ;
  background-color: white;
}

.info-box-title {
  margin: 0 0 .5em 0;
}

.info-box-text {
  
}

.standard-text {

}

.title-text {

}

.leave-game {
  text-align: right;
  color: red;
  cursor: pointer;
}

.start-button {
  position: absolute;
  left: 50%;
  top: 50%;
}

.finished-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, .7);
  z-index: 100;
  display: none;
}

.menu-button {
  position: absolute;
  left: 50%;
  top: 50%;
}

.failed-level-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, .7);
  z-index: 100;
  display: none;
}

.beat-level-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, .7);
  z-index: 100;
  display: none;
}

.game-board {
  position: relative;
  width: 1000px;
  height: 1000px;
  margin: 0px 0 0 140px;
  border-style: solid;
  border-width: 62px 223px 67px;
  -moz-border-image: url(bottom.png) 62 223 67 repeat;
  -webkit-border-image: url(bottom.png) 62 223 67 repeat;
  -o-border-image: url(bottom.png) 62 223 67 repeat;
  border-image: url(bottom.png) 62 223 67 fill repeat;
}

.start {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  background-color: #f1f1f1;
  visibility: hidden;
}

.exit {
  position: absolute;
  width: 176px;
  height: 100px;
  bottom: 20px;
  right: 20px;
  background: url(finish.png);
  background-size: cover;
  background-repeat: no-repeat; 
}

.player {
  position: fixed;
  bottom: 200px;
  right: 200px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  transform: translateZ(0);
  z-index: 50;
}

.wall-attributes {
  position: absolute;
  background-color: yellow;
  width: 50px;
  height: 50px;
  background: url(pattern.png);
  background-size: 100px 100px;
  background-repeat: repeat;  
}

.wall1 {
  top: 220px;
  right: 220px;
  width: 50px;
  height: 150px;
}

.wall2 {
  bottom: 320px;
  left: 320px;
  width: 150px;
  height: 50px;
}

.wall3 {
  bottom: 420px;
  right: 420px;
  width: 50px;
  height: 150px;
}

.wall4 {
  bottom: 520px;
  right: 520px;
  width: 150px;
  height: 50px;  
}

.danger {
 -webkit-transition: all 1s;
  transition: all 1s;
}

.ball-attributes {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: url(ball.png);
  background-size: cover;
  background-repeat: no-repeat;  
}

.ball5 {
  top: 20px;
  left: 20px;
}

.ball6 {
  top: 20px;
  left: 20px;
}

.ball7 {
  top: 20px;
  left: 20px;
}


@-webkit-keyframes bounce {
  0%   { -ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); }
  100% { -ms-transform: scale(2,2); -webkit-transform: scale(2,2); transform: scale(2,2); }
}
@-moz-keyframes bounce {
  0%   { -ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); }
  100% { -ms-transform: scale(2,2); -webkit-transform: scale(2,2); transform: scale(2,2); }
}
@-o-keyframes bounce {
  0%   { -ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); }
  100% { -ms-transform: scale(2,2); -webkit-transform: scale(2,2); transform: scale(2,2); }
}
@keyframes bounce {
  0%   { -ms-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); }
  100% { -ms-transform: scale(2,2); -webkit-transform: scale(2,2); transform: scale(2,2); }
}

